<header>
	<link rel="stylesheet" href="side.css">
	<h1>Seitentitel</h1>
        <nav>
          </button>
              <a href="/">Home</a>
              <a href="/logout">Logout</a>
              <a href="/login">Login</a>
              <a href="/sign-up">Sign Up</a>
              <p></p>
              <a href="/sign-up">Sign Up</a>
          </button>
        </nav>
</header>
<aside>
	<h2>Top-News</h2>
	<p>Gestern gab's Freibier!</p>
</aside>
<article>
	<h2>Ein Layout mit Flexbox</h2>
	<p>Flexbox ist eine sehr moderne und einfache Möglichkeit, responsive und flexible
		Layouts zu erstellen. Dabei kommen Sie ohne feste Größenangaben aus und können
		auf weitere CSS-Einstellungen wie position, float oder clear verzichten. </p>
	<p>
	Weiterhin kann nicht nur die Größendarstellung, sondern auch die Reihenfolge der
		Elemente unabhängig vom HTML-Code durch CSS festgelegt werden. </p>
</article>
<aside>
	<h2>Links</h2>
	<ul>
		<li><a href="#link_1.html">Blog</a>
		</li>
		<li><a href="#link_2.html">Doku</a>
		</li>
		<li><a href="#link_3.html">Forum</a>
		</li>
	</ul>
</aside>
<footer> <a href="#kontakt.html">Kontakt</a>
	<p>© 2021 by AT Smart Solutions</p>
</footer>
